:root {
    --main-gray: #898989;
    --main-white: #e5e5e5;
    --main-red: #f64348;
    --dark-black: #1f1f1f;
    --dark-grafitti: #343434;
    --dark-gray: #404040;

    --font-color-gremio: rgba(#fff, 0.96);
    --font-color-wlight: rgba(#fff, 0.67);
    --font-color-wlighter: rgba(#fff, 0.45);
}

.header-nav {
    height: 75px;
  }

.header-nav-container {
    width: 70%;
    font-family: var(--bs-font-monospace);
}

.navbar-list a:hover {
  font-weight: bold;
  color: var(--main-white);
}

.main-intro {
    height: 100vh;
    align-items: center;

}

.intro-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--bs-font-monospace);
}

.main-wheel {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    margin-top: 3vh;
}
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: var(--main-white);
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .linkedin {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #0077b7;
  }
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: var(--main-white);
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .whatsapp {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #1ad03f;
  }
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: var(--main-white);
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: var(--main-white);
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .envelope {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: var(--main-red);
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #0077b7;
  }
  
  .card1:hover .linkedin {
    fill: var(--main-white);
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #1ad03f;
  }
  
  .card2:hover .whatsapp {
    fill: var(--main-white);
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: var(--main-white);
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: var(--main-red);
  }
  
  .card4:hover .envelope {
    fill: var(--main-white);
  }

  .main-about-me {
    padding-top: 75px;
    padding-bottom: 75px;
  }

.image-avatar {
  border-radius: 50%;
  height: 400px;
}

.about-me-paragraph {
  max-width: 700px;
}

.skill_card {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  padding: 9px;
  background-color: var(--bg);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.skill_card-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(var(--bg) 0.0000001%, var(--grey) 0.000104%) 60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}

.skill_card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--contrast);
  border-radius: 30px;
  height: auto;
  width: 200px;

  /* Content style */
  font-size: 30px;
  font-weight: 900;
  color: #c7c4c4;
  text-align: center;
  font-family: monospace;
}

.proj_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proj_card_box {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
  position: relative;
  box-shadow: 0 25px 50px rgba(0,0,0,0.55);
  cursor: pointer;
  transition: all .3s;
  transform: scale(1);
}

.proj_card_box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proj_card_box span::before {
  content: 'Coming soon';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.23);
}

.proj_card_box span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
}

.proj_card_box:hover {
  transform: scale(0.9);
}

.falecomigo-container {
  border-radius: 10px;
  padding-bottom: 1rem;
  padding-left: 90px;
  padding-right: 90px;
  font-size: 22px;
}

@media screen and (max-width: 991px) {
  /* CSS styles for screens 991px wide or less */
  .programmer_image_container{
    display: none;
  }
  .about-me-resp {
    display: flex;
    flex-direction: column;
  }
  .about-me-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
  }
  .project-resp {
    flex-direction: column;
  }
  .proj_container-resp {
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  /* CSS styles for screens 767px wide or less */
  .skills-responsive {
    flex-direction: column;
    width: 250px;
    margin-top: 0%;
  }
  .skill_card-inner {
    width: auto;
  }
  .skill_card {
    margin-bottom: 1.75rem;
  }
}

@media screen and (max-width: 575px) {
  .falecomigo-container {
    padding: 0px;
  }
}