:root {
    --main-gray: #898989;
    --main-white: #e5e5e5;
    --main-red: #f64348;
    --dark-black: #1f1f1f;
    --dark-grafitti: #343434;
    --dark-gray: #404040;

    --font-color-white: rgba(#fff, 0.96);
    --font-color-wlight: rgba(#fff, 0.67);
    --font-color-wlighter: rgba(#fff, 0.45);
}

.header-nav {
    height: 75px;
}

.header-nav-container {
    width: 70%;
    font-family: var(--bs-font-monospace);
}

.main-intro {
    height: 100vh;
    align-items: center;
}

.intro-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--bs-font-monospace);
}

.main-wheel {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    margin-top: 3vh;
}
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .linkedin {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #0077b7;
  }
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .whatsapp {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #1ad03f;
  }
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .envelope {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #7952b3;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #0077b7;
  }
  
  .card1:hover .linkedin {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #1ad03f;
  }
  
  .card2:hover .whatsapp {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #7952b3;
  }
  
  .card4:hover .envelope {
    fill: white;
  }